pcs:
  lookup:
    admin_node: node1.example.org
    nodes:
      - node1.example.org
      - node2.example.org
    setup_extra_args:
      - --start
      - --enable
    node_add_extra_args:
      - --start
      - --enable
    stonith_resources:
      my_fence_eps:
        stonith_id: my_fence_eps
        stonith_device_type: fence_eps
        stonith_device_options:
          - pcmk_host_map=node1.example.org:01;node2.example.org:02
          - ipaddr=myepsdevice.example.org
          - power_wait=5
          - verbose=1
          - debug=/var/log/pcsd/my_fence_eps.log
          - login=hidden
          - passwd=hoonetorg
